/*h1{
    color:red;
}
/*
1. Name in English
2.HED value =#000000
3. RGB value = RGB(0, 0, 0)*/
/*p{
    color: rgb(67, 121, 145);
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    background-color: yellow;
    width: 60%;
    height: 400px;
    text-align: center;
    border: 3px solid #d81f1f;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 0px;
    /*padding-right: 50px;
    padding-left: 150px;
    padding-top: 80px;
    padding-bottom: 200px;*/ 
   
/*}

span{
    color:green;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-decoration:line-through;
    /*background-color: pink;*/
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;/*
}*/

/*p{
    color:blue;
}

.highlight{
    color:red;
    Background-color: blue;
}

#special{
    color:green;
}*/


/* ul > li{
    color:blue;
}

li + li{
    border-top: 1px solid black;
}

.note ~ p{
    color:red;
} */

/* 
> - Direct child
+ - только следующий элемент получит стили
~ - все следующие элементы получат стиль, кроме первого
*/

.highlight.second{
    color:red;
}
div.secure{
    background-color: green;
    color: white;
}
span.secure{
    background-color: blue;
    color: black;
}

.first.secure .inner{
    background-color: yellow;
    color: black;
}